html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	height: 1500px;
	background: #F5F5F5;
}

section {
	width: 100%;
	height: 100%;
	background: #F5F5F5;
	display: block;
}

#forumtitle {
	font-size: 35px;
	font-family: Georgia;
	color: #265073;
	text-align: center;
}

#header {
	width: 100%;
	height: 88px;
	background: #EDEDED;
	background: -webkit-linear-gradient(#EDEDED, #ECECEC); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#EDEDED, #ECECEC); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#EDEDED, #ECECEC); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#EDEDED, #ECECEC); /* Standard syntax */
	border-bottom: 1px solid rgb(218, 218, 218);
	z-index: 1;
	position: relative;
}

#topheader {
	width: 100%;
	height: 20px;
	background: linear-gradient(#3A546B, #1A4159);
	background: -moz-linear-gradient(#3A546B, #1A4159);
	background: -o-linear-gradient(#3A546B, #1A4159);
	background: -webkit-linear-gradient(#3A546B, #1A4159);
	box-shadow: 0px 0px 1px 0px black;
	position: relative;
	z-index: 10;
}

#centertopheader {
	width: 800px;
	height: 25px;
	margin: auto;
}

#centertopheader ul {
	float: right;
	margin: 0px 3px 0px 0px;
	width: 145px;
	font-size: 14px;
}

#centertopheader ul li {
	float: left;
	list-style-type: none;
	padding: 1px 10px 0px 10px;
}

#centertopheader ul li a {
	list-style-type: none;
	text-decoration: none;
	color: white;
	font-family: "Gotham Rounded B",sans-serif;
}

#centertopheader ul li a:hover {
	list-style-type: none;
	text-decoration: none;
	color: rgb(160, 219, 255);
	font-family: "Gotham Rounded B",sans-serif;
	text-shadow: 0px 1px 6px rgb(0, 0, 0)
}


#content {
	height: 100%;
	width: 800px;
	margin: auto;
	position: relative;
	border: 1px solid rgb(229, 229, 229);
	background: #F2F2F2;
	padding: 14px 14px 14px 14px;
	box-sizing: border-box;
}

#logo {
	display: block;
	max-width: 100%;
}

#headercenter {
	height: 63px;
	width: 800px;
	margin: auto;
}

#playersearch {
	margin: 18px 49px;
	padding: 7px 10px 7px 14px;
	font-family: verdana;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid rgb(168, 168, 168);
	position: absolute;
}

#logolink {
	float: left;
	padding: 9px 0px 0px 3%;
	width: 38%;
	box-sizing: border-box;
}


#menu {
	float: left;
	display: block;
	position: relative;
	margin: 45px 0% 0% -46%;
	width: 59px;
	opacity: 0.9;
}

#menuarea {
	height: 170px;
	width: 100px;
	background: #F2F2F2;
	z-index: 0;
	border: 1px solid rgb(226, 226, 226);
	margin: -8px 0px 0px -124px;
	box-shadow: 0px 0px 1px 0px rgba(5, 5, 5, 0.11);
	position: absolute;
}

#menuarea ul {
	height: 100%;
	width: 100%;
}

.menubox {
	width: 100%;
	height: 20%;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

.menubox:last-child {
	width: 100%;
	height: 20%;
	border-bottom: 0px solid black;
	box-sizing: border-box;
}

.menubox li {
	padding: 8px 0px 0px 10px;
}

.menubox:hover {
	color: white;
	width: 100%;
	height: 20%;
	background: rgba(5, 65, 108, 0.75);
	box-sizing: border-box;
	box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.49);
}

#menuarea ul a {
	list-style-type: none;
	text-decoration: none;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	color: #265073;
	font-weight: bold;
	font-size: 14px;

}

#loggedin {
	width: 23%;
	height: 29%;
	background: linear-gradient(rgb(65, 95, 128), rgb(35, 72, 98));
	float: right;
	border-radius: 3px;
	z-index: 0;
	margin: -2px 14px 0px 0px;
	box-shadow: 0px 1px 1px 0px rgb(82, 82, 82);
	border: 1px solid rgb(34, 59, 87);
}

#username {
	color: white;
	font-size: 14px;
	padding: 1px 7px 0px 7px;
	display: block;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;

}

#loggedinas {
	color: white;
	font-size: 13px;
	padding: 2px 0px 0px 0px;
	display: block;
	float: left;
	margin: 0px 5px 0px 0px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#logoutlink a{

	text-decoration: none;
	color: white;
}

#logout {
	position: absolute;
	margin: 3px 27px;
}
#logout ul {
	width: 100%;
}

#menubutton {
	width: 162px;
	height: 21px;
	background: linear-gradient(rgb(43, 95, 141),rgb(31, 71, 97));
	background: -o-linear-gradient(rgb(43, 95, 141),rgb(31, 71, 97));
	background: -moz-linear-gradient(rgb(43, 95, 141),rgb(31, 71, 97));
	background: -webkit-linear-gradient(rgb(43, 95, 141),rgb(31, 71, 97));
	margin: 42px 0px 0px 0px;
	cursor: pointer;
	position: absolute;
	background: none;
}

#menuopen {
	height: 35px;
	width: 40px;
	background: rgb(48, 83, 109);
	margin: -9px 0px 0px -21px;
	border-radius: 8px;
	box-shadow: 0px 0px 2px rgb(36, 36, 36);
	position: absolute;
}

#menuarrow {
	margin: 6px 4px;
	width: 78%;
}

.categoryheader {
	width: 100%;
	height: 37px;
	background: linear-gradient(#295A85, #21465D);
	margin: 20px auto;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.42);
	border: 1px solid rgb(31, 57, 82);
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Georgia;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.55);
}

.categorytitle {
	margin: 5px 0px 0px 0px;
	display: block;
}

.cat_link {
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-family: Georgia;
	margin: 7px 0px 7px 14px;
	display: inline-block;
}

textarea {
	resize: none;
}

.topic_creation {
	margin: 25px auto;
	display: block;
	width: 583px;
}

.subject {
	margin: 9px 0px 0px 5px;
	position: absolute;
}

.cat_area {
	width: 100%;
	background: rgb(239, 239, 239);
	border: 1px solid rgb(200, 200, 200);
	padding: 5px;
	box-sizing: border-box;
	border-radius: 2px;
}