html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	height: 700px;
	background: #F5F5F5;
}

section {
	width: 100%;
	height: 100%;
	background: #F5F5F5;
	display: block;
	z-index: 0;
}

#header {
	width: 100%;
	height: 100px;

}

#topheader {
	width: 100%;
	height: 15px;
	background: #3A546B;
	box-shadow: 0px 0px 1px 0px rgb(31, 31, 31)
}

#topheader1 {
	width: 100%;
	height: 15px;
	background: #486681;
	box-shadow: 0px 0px 1px 0px rgb(31, 31, 31)
}

#topheader2 {
	width: 100%;
	height: 15px;
	background: #5A7FA0;
	box-shadow: 0px 0px 1px 0px rgb(31, 31, 31)
}

#content {
	height: 100%;
	width: 52%;
	margin: auto;
	position: relative;
}

#logo {
	margin: 70px auto 17px auto;
	width: 335px;
	display: block;
}

#headercenter {
	height: 70px;
	width: 52%;
	margin: auto;
}

#loginarea {
	margin: auto;
	width: 250px;
	height: 240px;
	background: #436584;
	border-radius: 22px;
	box-shadow: inset 0px -3px 2px rgb(95, 132, 174), 0px 2px 2px 0px rgb(40, 40, 40);

}

#loginform {
	margin: auto;
	display: block;
	width: 176px;
}

#loginform input[type="text"], #loginform input[type="password"]{
	padding: 10px;
	margin-top: 10px;
	border: 1px solid rgb(54, 106, 166);
	border-radius: 7px;
	width: 149px;
	box-shadow: 0px 2px 2px 0px rgb(59, 82, 110);
	font-size: 16px;
}

#login {
	width: 90px;
	height: 35px;
	background: #5FA2DD;
	border-radius: 14px;
	box-shadow: inset 0px -1px 1px rgb(69, 100, 136), 0px 2px 2px 0px rgb(31, 60, 89);
	margin: 19px auto;
	display: block;
	color: white;
	font-family: verdana;
	border: none;
}

.error {
	text-align: center;
	color: rgb(144, 187, 223);
	font-size: 13px;
	font-family: verdana;
	margin: -7px 0px 0px 0px;
}

#logintitle {
	font-family: sans-serif;
	text-align: center;
	display: block;
	padding: 10px 0px 0px 0px;
	font-size: 24px;
	color: rgb(169, 206, 232);
	text-shadow: 0px 2px 2px rgb(48, 68, 90);
}