html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	height: 1500px;
	background: #F5F5F5;
}

section {
	width: 100%;
	height: 100%;
	background: #F5F5F5;
	display: block;
}

#header {
	width: 100%;
	height: 88px;
	background: #EDEDED;
	background: -webkit-linear-gradient(#EDEDED, #ECECEC); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#EDEDED, #ECECEC); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#EDEDED, #ECECEC); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#EDEDED, #ECECEC); /* Standard syntax */
	border-bottom: 1px solid rgb(218, 218, 218);
	z-index: 1;
	position: relative;
}

#topheader {
	width: 100%;
	height: 25px;
	background: linear-gradient(#3A546B, #1A4159);
	background: -moz-linear-gradient(#3A546B, #1A4159);
	background: -o-linear-gradient(#3A546B, #1A4159);
	background: -webkit-linear-gradient(#3A546B, #1A4159);
	box-shadow: 0px 0px 1px 0px black;
	position: relative;
	z-index: 10;
}

#centertopheader {
	width: 800px;
	height: 25px;
	margin: auto;
}

#centertopheader ul {
	float: right;
	margin: 0px 3px 0px 0px;
	width: 145px;
}

#centertopheader ul li {
	float: left;
	list-style-type: none;
	padding: 5px 10px 0px 10px;
}

#centertopheader ul li a {
	list-style-type: none;
	text-decoration: none;
	color: white;
	font-family: "Gotham Rounded B",sans-serif;
}

#centertopheader ul li a:hover {
	list-style-type: none;
	text-decoration: none;
	color: rgb(160, 219, 255);
	font-family: "Gotham Rounded B",sans-serif;
	text-shadow: 0px 1px 6px rgb(0, 0, 0)
}


#content {
	height: 100%;
	width: 800px;
	margin: auto;
	position: relative;
	border: 1px solid rgb(229, 229, 229);
	background: #F2F2F2;
}

#logo {
	display: block;
	max-width: 100%;
}

#headercenter {
	height: 63px;
	width: 800px;
	margin: auto;
}

#playersearch {
	margin: 15px 49px;
	padding: 7px 10px 7px 14px;
	font-family: verdana;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid rgb(168, 168, 168);
	position: absolute;
}

#logolink {
	float: left;
	padding: 6px 0px 0px 3%;
	width: 38%;
	box-sizing: border-box;
}


#menu {
	float: left;
	display: block;
	position: relative;
	margin: 45px 0% 0% -46%;
	width: 59px;
	opacity: 0.9;
}

#menuarea {
	height: 27px;
	width: 100%;
	background: linear-gradient(rgb(54, 94, 123), rgb(39, 65, 87));
	background: -o-linear-gradient(rgb(54, 94, 123), rgb(39, 65, 87));
	background: -moz-linear-gradient(rgb(54, 94, 123), rgb(39, 65, 87));
	background: -webkit-linear-gradient(rgb(54, 94, 123), rgb(39, 65, 87));
	border-radius: 4px;
	z-index: 0;
	box-shadow: inset 0px -2px 3px 0px rgb(82, 115, 153), 1px 1px 2px 0px rgb(103, 103, 103);
	border: 1px solid rgb(32, 55, 77);
	margin: -3px auto 0px auto;
	display: none;
}

#menuarea ul {
	text-align: center;
	width: 100%;
}

#menuarea ul li {
	list-style-type: none;
	padding: 5px 6% 8px 5%;
	float: left;
	font-size: 5px;
	margin: 0px 3px 0px 2px;
}

#menuarea ul li a {
	color: white;
	text-decoration: none;
	font-family: verdana;
	font-size: 14px;

}


#loggedin {
	width: 23%;
	height: 29%;
	background: linear-gradient(rgb(65, 95, 128), rgb(35, 72, 98));
	float: right;
	border-radius: 3px;
	z-index: 0;
	margin: -2px 14px 0px 0px;
	box-shadow: 0px 1px 1px 0px rgb(82, 82, 82);
	border: 1px solid rgb(34, 59, 87);
}

#username {
	color: white;
	font-size: 14px;
	padding: 4px 7px 0px 7px;
	display: block;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;

}

#loggedinas {
	color: white;
	font-size: 13px;
	padding: 5px 0px 0px 0px;
	display: block;
	float: left;
	margin: 0px 5px 0px 0px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#logoutlink a{

	text-decoration: none;
	color: white;
}

#logout {
	position: absolute;
	margin: 3px 27px;
}
#logout ul {
	width: 100%;
}

#menubutton {
	width: 162px;
	height: 21px;
	background: linear-gradient(rgb(43, 95, 141),rgb(31, 71, 97));
	background: -o-linear-gradient(rgb(43, 95, 141),rgb(31, 71, 97));
	background: -moz-linear-gradient(rgb(43, 95, 141),rgb(31, 71, 97));
	background: -webkit-linear-gradient(rgb(43, 95, 141),rgb(31, 71, 97));
	margin: 42px 0px 0px 0px;
	cursor: pointer;
	position: absolute;
	background: none;
}

#menuopen {
	height: 35px;
	width: 40px;
	background: rgb(48, 83, 109);
	margin: -9px 0px 0px -21px;
	border-radius: 8px;
	box-shadow: 0px 0px 2px rgb(36, 36, 36);
	position: absolute;
}

#menuarrow {
	margin: 6px 4px;
	width: 78%;
}